h1 {
    text-align: center;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

h4 {
    text-align: center;
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
